h1{
    font-family:'Lucida Sans Unicode';
}

p{
    font-family: fantasy;
}

body{
    font-size: 30px;
}

#two{
    font-size: 2em;
}

p{
    font-style:oblique;
    font-weight: bold;
}

h1{
    text-align: center;
}